apiVersion: 1

providers:
  - name: 'DefaultDashboards'
    orgId: 1
#    folder: 'Infrastructure' # 그라파나 내에서 보일 폴더 이름
    type: file
    disableDeletion: false
    editable: true
    options:
      path: "{{ grafana_dashboards_dir }}"
 